<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" monitorInterval="30"><!--status：设置log4j2自身日志级别为warn   配置文件刷新频率为30秒-->
	<Properties>
		<Property name="logPath">logs</Property><!-- 日志文件保存目录 -->
		<Property name="filename">quartz.log</Property><!-- 日志文件路径 -->
	</Properties>
	<!--<ThresholdFilter level="debug" />&lt;!&ndash; 日志过滤级别 &ndash;&gt;-->
	<appenders>
		<!-- 1. 控制台输出 -->
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t]  %class{1.}:%L - %m%n"  charset="UTF-8" />
		</console>

		<!-- 2. 日志文件输出 -->
		<!--<RollingFile name="RollingFileInfo" fileName="${filename}.log" filePattern="logs/mylog-%d{yyyy-MM-dd}.log">-->
		<RollingFile name="RollingFileInfo" fileName="${logPath}/${filename}" filePattern="${logPath}/$${date:yyyy-MM}/quartz-%d{yyyy-MM-dd}-%i.log">
			<!--<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t]  %class{1.}:%L - %m%n"/>-->
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
			<Filters>
				<ThresholdFilter level="info"/>
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>   <!-- interval控制粒度与filePattern的粒度一致【当前以天为单位切割日志】-->
				<SizeBasedTriggeringPolicy size="100MB" />
				<DefaultRolloverStrategy max="10" min="0"/>
			</Policies>
		</RollingFile>
	</appenders>

	<loggers>
		<!--个性配置 -->
		<logger name="org.springframework.web.servlet" level="debug" />
		<logger name="org.springframework" level="debug" />
		<logger name="org.apache.ibatis" level="debug" />
		<logger name="org.hibernate" level="debug" />
		<logger name="org.mybatis" level="debug" />
		<logger name="druid.sql" level="debug" />
		<logger name="org.springframework.scheduling" level="INFO" />

		<!-- 日志输出级别 -->
		<root level="debug">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFileInfo" />
		</root>
	</loggers>

</configuration>